<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> BOOKWIZ*|Home</title>
  <link href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" rel="stylesheet" />
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&family=Archivo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
  <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
      <div id="cursor"></div>
    <div id="nav">
      <div id="nav-left">
        <img src="assets/bookwiz-high-resolution-logo-transparent.png" alt="logo" />
      </div>
      <div id="nav-right">
        <a href="/"><h2>HOME</h2></a>
        <a href="/allbooks"><h2>ALL BOOKS</h2></a>
        <a href="/findbook"><h2>FIND BOOK</h2></a>     
      </div>
    </div>
 
 
 <div id="main">
   <div id="page1">
    <video id="video" src="assets/6334041-uhd_4096_2160_25fps.mp4" autoplay muted loop></video>
     <div id="p1text">
       <div id="p1t">
          <h1><span>B</span><span>O</span><span>O</span><span>K</span><span>W</span><span>I</span><span>Z</span><span>*</span></h1>
       </div>
     </div>
   </div>
   <div id="page2">
     <div id="p2shead">
       <h4>The Ultimate Book Store Experience<i class="ri-corner-right-down-line"></i></h4>
     </div>
     <div id="p2head">
       <h1>YOUR ONE STOP HUB FOR:</h1>
     </div>
     <div class="smooth-scroll-wrapper">
       <div class="content">
         <div class="container">
           <h1 class="text">01.Stay Updated with the Latest Book Prices</h1>
           <div class="img">
             <img id="i1" src="./assets/i1.webp"/>
           </div>
           <p class="text">Stay informed with the newest book prices,
           and make smarter purchases.</p>
         </div>
       </div>
      
       <div class="content" id="i2m">
          <div class="container">
            <h1 class="text">02.Access Every Detail About Your Favorite Books</h1>
            <div class="img">
              <img id="i2" src="./assets/i2.jpeg"/>
            </div>
            <p class="text">Get comprehensive details about the author, publication date, and more—all in one place.</p>
          </div>
        </div>
     </div>
   </div>
   <div id="page3">
     <div id="p3mo">
       <div id="p3top">
       <div id="p3topl">
         <h2>Relax Sit Back,</h2>
         <h2>You're in the Right Place!</h2>
       </div>
       
         <div id="tright">
             <div id="tf">
               <a href="/allbooks"><h3>All Books→</h3></a>
                <a href="/allbooks"><h3>All Books→</h3></a>
               </div>
          </div>
         </div>
       <div id="line"></div>
       <div id="p3bot">
          <h1><span>B</span><span>O</span><span>O</span><span>K</span><span>W</span><span>I</span><span>Z</span><span>*</span></h1>
       </div>
     </div>
   </div>
 </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>

  
   <script src="./js/script.js"></script>
  
</body>

</html>